<md-toolbar color="primary" id="search-component">
  <md-icon>search</md-icon>
  <input #searchBox placeholder="Monster Search" id="search-box" class="mxm-input-round" (keyup)="search(searchBox.value)" />
</md-toolbar>
<md-list>
  <md-list-item class="search-result" *ngFor="let monster of monsters | async">
    <h3 md-line><strong>CR {{monster.cr}}</strong> {{monster.name}}</h3>
    <button md-icon-button (click)="viewDetail(monster)">
      <md-icon mdTooltip="View">visibility</md-icon>
    </button>
  </md-list-item>
</md-list>
