<md-card *ngIf="monster" class="block mat-elevation-z1">
  <div class="stats">
    <md-toolbar color="primary">
      <h4 class="hostile">{{monster.name}}</h4>
    </md-toolbar>
    <md-expansion-panel [expanded]="true" class="general mat-elevation-z0">
      <md-expansion-panel-header>
        <md-panel-title>General</md-panel-title>
      </md-expansion-panel-header>
      <div>
        <strong class="cr">CR {{monster.cr}}</strong>
        <strong>XP {{monster.xp}}</strong>
      </div>
      <div><span class="alignment">{{monster.alignment}}</span> <span class="size">{{monster.size}}</span> <span class="type">{{monster.type}}</span> <span *ngIf="monster.subtype?.length > 0" class="subtype">[{{monster.subtype}}]</span> <span class="race">{{monster.race}}</span>
      </div>
      <div><strong>Init</strong> {{monster.initiative}};
        <strong>Senses</strong>
        <ul class="senses">
          <li *ngFor="let sense of monster.senses" class="sense"> {{sense}}</li>
        </ul>
      </div>
      <div *ngIf="monster.auras?.length > 0"><strong>Auras</strong>
        <ul class="auras">
          <li *ngFor="let aura of monster.auras" class="aura"> {{aura}}</li>
        </ul>
      </div>
    </md-expansion-panel>
    <md-expansion-panel [expanded]="true" class="defense mat-elevation-z0">
      <md-expansion-panel-header>
        <md-panel-title>Defense</md-panel-title>
      </md-expansion-panel-header>
      <div class="ac"><strong>AC </strong><span *ngIf="monster.ac.normal">{{monster.ac.normal}}</span><span *ngIf="monster.ac.touch">, {{monster.ac.touch}} touch</span><span *ngIf="monster.ac['flat-footed']">, {{monster.ac['flat-footed']}} flat-footed</span>
      </div>
      <div class="hp"><strong>hp </strong><span>{{monster.hp}} ({{monster.hd}})</span><span *ngIf="monster.regeneration.amount > 0"> regeneration {{monster.regeneration.amount}} ({{monster.regeneration.overcome}})</span><span *ngIf="monster.fasthealing.amount > 0"> fast healing {{monster.fasthealing.amount}} <em>{{monster.fasthealing.special}}</em></span>
      </div>
      <div class="saves">
        <strong>Fort</strong> {{monster.saves.fortitude.bonus}}<span *ngFor="let circ of monster.saves.fortitude.circumstantial">, +{{circ.bonus}} vs. {{circ.circumstance}}</span>
        <strong>Ref</strong> {{monster.saves.reflex.bonus}}<span *ngFor="let circ of monster.saves.reflex.circumstantial">, +{{circ.bonus}} vs. {{circ.circumstance}}</span>
        <strong>Will</strong> {{monster.saves.will.bonus}}<span *ngFor="let circ of monster.saves.will.circumstantial">, +{{circ.bonus}} vs. {{circ.circumstance}}</span>
      </div>
      <div *ngIf="monster.defensiveabilities?.length > 0" class="defensive-abilities"><strong>Defensive Abilities</strong>
        <ul class="defensive-abilities-list">
          <li *ngFor="let ability of monster.defensiveabilities" class="defensive-ability">
            {{ability}}
          </li>
        </ul>
      </div>
      <div *ngIf="monster.dr?.length > 0" class="dr"><strong>DR</strong>
        <ul class="dr-list">
          <li *ngFor="let ability of monster.dr" class="dr">
            {{ability}}
          </li>
        </ul>
      </div>
      <div *ngIf="monster.sr.value > 0" class="sr"><strong>SR</strong>
            {{monster.sr.value}} {{monster.sr.versus}}
      </div>
      <div *ngIf="monster.immunities?.length > 0" class="immunities"><strong>Immunities</strong>
        <ul class="immunities-list">
          <li *ngFor="let ability of monster.immunities" class="immunity"> {{ability}}</li>
        </ul>
      </div>
      <div *ngIf="monster.resistances?.length > 0" class="resistances"><strong>Resistances</strong>
        <ul class="resistances-list">
          <li *ngFor="let ability of monster.resistances" class="resistance"> {{ability}}</li>
        </ul>
      </div>
      <div *ngIf="monster.weaknesses?.length > 0" class="weaknesses"><strong>Weaknesses</strong>
        <ul class="weaknesses-list">
          <li *ngFor="let ability of monster.weaknesses" class="weakness"> {{ability}}</li>
        </ul>
      </div>
    </md-expansion-panel>
    <md-expansion-panel [expanded]="true" class="offense mat-elevation-z0">
      <md-expansion-panel-header>
        <md-panel-title>Offense</md-panel-title>
      </md-expansion-panel-header>
      <div class="speed"><strong>Speed</strong><span *ngFor="let speed of monster.speed"> {{speed}}</span>
      </div>
      <div *ngIf="monster.melee?.length > 0" class="melee"><strong>Melee</strong>
        <ul class="attacks">
          <li *ngFor="let attack of monster.melee" class="attack">
            {{attack.amount}} {{attack.weapon}} {{attack.bonus}} ({{attack.damage}}; {{attack.critmin}}/x{{attack.critmult}}) <span *ngIf="attack.special">plus {{attack.special}}</span>
          </li>
        </ul>
      </div>
      <div *ngIf="monster.ranged?.length > 0" class="ranged"><strong>Ranged</strong>
        <ul class="attacks">
          <li *ngFor="let attack of monster.ranged" class="attack">
            {{attack.amount}} {{attack.weapon}} {{attack.bonus}} ({{attack.damage}}; {{attack.critmin}}/x{{attack.critmult}}) <span *ngIf="attack.special">plus {{attack.special}}</span>
          </li>
        </ul>
      </div>
      <div class="space-and-reach">
        <strong>Space</strong> {{monster.space}};
        <strong>Reach</strong> {{monster.reach}}
      </div>

      <div *ngIf="monster.specialattacks?.length > 0" class="special-attacks"><strong>Special Attacks</strong>
        <ul class="special-attacks-list">
          <li *ngFor="let attack of monster.specialattacks" class="special-attack">{{attack}}</li>
        </ul>
      </div>

      <div *ngIf="monster.sla.abilities?.length > 0" class="spell-like-abilities"><strong>Spell-Like Abilities</strong> (CL {{monster.sla.casterlevel}}; concentration {{monster.sla.concentration}})
        <ul class="spell-like-abilities-list">
          <li *ngFor="let sla of monster.sla.abilities" class="spell-like-ability">{{sla.frequency}} - {{sla.name}} (DC {{sla.dc}})</li>
        </ul>
      </div>
    </md-expansion-panel>
    <md-expansion-panel [expanded]="false" class="statistics mat-elevation-z0">
      <md-expansion-panel-header>
        <md-panel-title>Statistics</md-panel-title>
      </md-expansion-panel-header>
      <div class="ability-scores">
        <ul class="ability-scores-list">
          <li class="ability-score ability-score-{{monster.abilityscores.str}}"><strong>Str</strong> <span class="{{monster.abilityscores.str}}"> {{monster.abilityscores.str}}</span></li>
          <li class="ability-score ability-score-{{monster.abilityscores.dex}}"><strong>Dex</strong> <span class="{{monster.abilityscores.dex}}"> {{monster.abilityscores.dex}}</span></li>
          <li class="ability-score ability-score-{{monster.abilityscores.con}}"><strong>Con</strong> <span class="{{monster.abilityscores.con}}"> {{monster.abilityscores.con}}</span></li>
          <li class="ability-score ability-score-{{monster.abilityscores.int}}"><strong>Int</strong> <span class="{{monster.abilityscores.int}}"> {{monster.abilityscores.int}}</span></li>
          <li class="ability-score ability-score-{{monster.abilityscores.wis}}"><strong>Wis</strong> <span class="{{monster.abilityscores.wis}}"> {{monster.abilityscores.wis}}</span></li>
          <li class="ability-score ability-score-{{monster.abilityscores.cha}}"><strong>Cha</strong> <span class="{{monster.abilityscores.cha}}"> {{monster.abilityscores.cha}}</span></li>
        </ul>
      </div>
      <div class="base-stats">
        <strong>Base Atk</strong> +{{monster.bab}};
        <strong>CMB</strong> +{{monster.cmb.bonus}} <span *ngIf="monster.cmb.special != ''">({{monster.cmb.special}})</span>;
        <strong>CMD</strong> {{monster.cmd.bonus}} <span *ngIf="monster.cmd.special != ''">({{monster.cmd.special}})</span>
      </div>
      <div *ngIf="monster.feats?.length > 0" class="feats">
        <strong>Feats</strong>
        <ul class="feats-list">
          <li *ngFor="let feat of monster.feats" class="feat"> <a href="http://www.d20pfsrd.com/?s={{feat}}" target="_blank">{{feat}}</a></li>
        </ul>
      </div>
      <div *ngIf="monster.skills" class="skills">
        <strong>Skills</strong>
        <ul class="skills-list">
          <li *ngFor="let skill of monster.skills | keys" class="skill">{{skill.key}} +{{skill.value.bonus}}<span *ngIf="skill.value.circumstantial?.length > 0"> (<span *ngFor="let circ of skill.value.circumstantial">+{{circ.bonus}} {{circ.circumstance}}</span>)</span></li>
        </ul>
      </div>
      <div *ngIf="monster.languages?.length > 0" class="languages">
      <strong>Languages</strong>
        <ul class="languages-list">
          <li *ngFor="let language of monster.languages" class="language">{{language}}</li>
        </ul>
      </div>
      <div *ngIf="monster.sq" class="sq"><strong>Special Qualities</strong> {{monster.sq}}
      </div>
    </md-expansion-panel>

    <md-expansion-panel *ngIf="monster.specialabilities?.length > 0" [expanded]="false" class="special-abilities mat-elevation-z0">
      <md-expansion-panel-header>
        <md-panel-title>Special Abilities</md-panel-title>
      </md-expansion-panel-header>
      <div *ngFor="let sa of monster.specialabilities" class="special-ability">
        <p><strong>{{sa.name}}</strong> {{sa.description}}</p>
      </div>
    </md-expansion-panel>


    <md-expansion-panel [expanded]="false" class="ecology mat-elevation-z0">
      <md-expansion-panel-header>
        <md-panel-title>Ecology</md-panel-title>
      </md-expansion-panel-header>
      <p><strong>Environment</strong> {{monster.environment}}</p>
      <p><strong>Organization</strong> {{monster.organization}}</p>
      <p><strong>Treasure</strong> {{monster.treasure}}</p>
      <p>{{monster.description}}</p>
    </md-expansion-panel>
  </div>
</md-card>
