<!-- <h2>Popular Monsters</h2>
<div class="grid grid-pad">
  <a *ngFor="let monster of monsters" [routerLink]="['/detail', monster.id]" class="col-1-4">
    <div class="module monster">
      <h3>{{monster.name}}</h3>
    </div>
  </a>
</div> -->
<section class="mxm-tools">
  <app-monster-search class="mxm-tool mxm-search-tool mat-elevation-z1"></app-monster-search>
  <app-monster-detail class="mxm-tool mxm-details-tool"></app-monster-detail>
  <div class="mxm-tool mxm-collections-tool mat-elevation-z1">
    <h3>My Collections</h3>
  </div>
</section>
