<md-card *ngIf="monster; else empty" class="block mat-elevation-z0">
  <md-toolbar color="primary">
    <h4 class="hostile">{{monster.name}}</h4>
    <span class="mxm-flex-spacer"></span>
    <button md-icon-button>
      <md-icon mdTooltip="View in New Window">open_in_new</md-icon>
    </button>
    <button md-icon-button>
      <md-icon mdTooltip="Add to Collection">add_circle</md-icon>
    </button>
  </md-toolbar>

  <app-general [monster]="monster">
  </app-general>

  <app-defense [monster]="monster">
  </app-defense>

  <app-offense [monster]="monster">
  </app-offense>

  <app-statistics [monster]="monster">
  </app-statistics>

  <app-special-abilities [monster]="monster">
  </app-special-abilities>

  <app-ecology [monster]="monster">
  </app-ecology>

</md-card>

<ng-template #empty>
    <md-toolbar color="primary">
      <h4 class="hostile">Monster Details</h4>
    </md-toolbar>
    <p>Find a monster using the search bar and its statistics will show up here.</p>
</ng-template>