<md-card *ngIf="monster" class="block mat-elevation-z1">
  <md-toolbar color="primary">
    <h4 class="hostile">{{monster.name}}</h4>
  </md-toolbar>

  <app-general [monster]="monster">
  </app-general>

  <app-defense [monster]="monster">
  </app-defense>

  <app-offense [monster]="monster">
  </app-offense>

  <app-statistics [monster]="monster">
  </app-statistics>

  <app-special-abilities [monster]="monster">
  </app-special-abilities>

  <app-ecology [monster]="monster">
  </app-ecology>
</md-card>
